body {
	font-family: Arial, sans-serif;
	background-color: #f9f9f9;
}

h1 {
	text-align: center;
	margin-top: 50px;
	color: #0066cc;
	text-shadow: 1px 1px #ccc;
}

#generateButton {
	display: block;
	margin: 50px auto;
	padding: 10px 20px;
	background-color: #0066cc;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

#generateButton:hover {
	background-color: #004c99;
}

#result {
	width: 80%;
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
}

#result p {
	margin: 10px 0;
	line-height: 1.5;
	color: #666;
}

#result strong {
	color: #0066cc;
}

@media screen and (max-width: 500px) {
	#result {
		width: 90%;
		font-size: 16px;
	}
}

/* 移动设备用于横向滚动式布局 */
@media screen and (max-width: 600px) {
	body {
		overflow-x: scroll;
	}
}

/* 移动设备用于纵向布局 */
@media screen and (max-width: 400px) {
	html,
	body {
		height: 100%;
	}

	body {
		display: flex;
		flex-direction: column;
	}
}

/* 用于大屏幕设备 */
/* @media screen and (min-width: 1200px) {
	.container {
		width: 80%;
		margin: 0 auto;
	}
} */

.button {
	width: 50%;
}

@media screen and (max-width: 600px) {
	.button {
		font-size: 12px;
	}
}
